<div class="left-sidebar">
            <!-- 用户信息 -->


            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>

                <li class="sidebar-nav-link">
                    <a href="/admin.php?c=index">
                        <i class="am-icon-dashboard sidebar-nav-link-logo"></i> 控制台

                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-navicon sidebar-nav-link-logo"></i> 文章管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="/admin.php?c=article&a=show">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 写文章
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/admin.php?c=article">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/admin.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 分类列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;"  class="sidebar-nav-sub-title">
                        <i class="am-icon-pencil-square sidebar-nav-link-logo"></i> 随记管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 写随记
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 随记列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-photo sidebar-nav-link-logo"></i> 相册管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 相册列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章图片
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-comments sidebar-nav-link-logo"></i> 留言管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 留言板
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文章留言
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-puzzle-piece sidebar-nav-link-logo"></i> 更多功能
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="/admin/more/fun_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 功能列表
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/admin/more/fun_email.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 邮箱功能
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/admin/more/fun_friend.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 友链功能
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="/admin/more/fun_visit.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 访问查看
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-user sidebar-nav-link-logo"></i> 用户管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_release.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户信息
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_release.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 增加用户
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-gear sidebar-nav-link-logo"></i> 博客设置
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_release.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 主页信息
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_release.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 常规设置
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_release.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 编写方式
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_release.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 阅读设置
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_list.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 留言设置
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="../admin/article/article_release.php">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 素材设置
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>