<div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>常用网站</span></h2>
        <a target="_blank" href="http://www.w3school.com.cn/index.html"><img src="/Public/home/images/w3.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="http://www.icourse163.org/"><img src="/Public/home/images/mooc.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="http://www.imooc.com/"><img src="/Public/home/images/mw.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="https://github.com/"><img src="/Public/home/images/github.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="http://www.csdn.net/"><img src="/Public/home/images/csdn.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="https://www.nowcoder.com/"><img src="/Public/home/images/nk.jpg" width="58" height="58" alt="pix" /></a>
      </div>
      <div class="col c3">
        <h2><span>语言工具</span></h2>
        <img src="/Public/home/images/c.jpg" width="58" height="58" alt="pix" />
        <img src="/Public/home/images/js.jpg" width="58" height="58" alt="pix" />
        <img src="/Public/home/images/java.jpg" width="58" height="58" alt="pix" />
        <br>
        <img src="/Public/home/images/python.jpg" width="58" height="58" alt="pix" />
        <img src="/Public/home/images/php.jpg" width="58" height="58" alt="pix" />
        <img src="/Public/home/images/mysql.jpg" width="58" height="58" alt="pix" />
     
      </div>
      <div class="col c3">
        <h2><span>我的主页</span></h2>
        <a target="_blank" href="http://weibo.com/5842719435/profile?topnav=1&wvr=6&is_all=1"><img src="/Public/home/images/wb.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="https://www.zhihu.com/people/rain_web/activities"><img src="/Public/home/images/zh.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="http://blog.csdn.net/rain_web"><img src="/Public/home/images/csdn.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="https://note.wiz.cn/pages/manage/biz/applyInvited.html?code=lmrbxp"><img src="/Public/home/images/wz.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="mailto:nylrain@163.com"><img src="/Public/home/images/wy.jpg" width="58" height="58" alt="pix" /></a>
        <a target="_blank" href="mailto:641351484@qq.com"><img src="/Public/home/images/qq.jpg" width="58" height="58" alt="pix" /></a>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div  align="center">
   @版权所有 ￥<a href="mailto:641351484@qq.com"> 联系我
  </div>