
<volist name="menus" id="menu">
    <li class="{$menu.show}"><a href="{$menu.href}">{$menu.name}</a></li>
</volist>
 </ul>
 </div>
 <div class="gadget">
     <h2 class="star">
         <span>Introduce</span>
     </h2>
     <div class="clr"></div>
     <ul class="ex_menu">
         <li>网站：<br>
             Rain_Blog&nbsp;&nbsp;&nbsp;&nbsp; <br />
         </li>
         <li>职业：<br />
             程序员</li>
         <li>技能：<br />
             PHP,Java,Python</li>
         <li>联系方式：<br />
             请点击下方我的主页</li>